<!-- entradas.component.html -->
<body>
  <div class="entradas-container">
    <h1>Selecciona una Entrada</h1>
    
    <!-- Botones para redirigir a cada entrada -->
    <div class="entradas-list">
      <button class="entrada-btn" (click)="navigateToEntrada(1)">Entrada 1</button>
      <button class="entrada-btn" (click)="navigateToEntrada(2)">Entrada 2</button>
      <button class="entrada-btn" (click)="navigateToEntrada(3)">Entrada 3</button>
      <button class="entrada-btn" (click)="navigateToEntrada(4)">Entrada 4</button>
      <button class="entrada-btn" (click)="navigateToEntrada(5)">Entrada 5</button>
    </div>
  </div>

</body>

  